{% extends "index.html" %}
{% load static %}

{% block css  %}
<link rel="stylesheet" href={% static "table.css" %}>
{% endblock css  %}
 {% block content %}
    <div class="d-flex justify-content-center">
        <table class="table ">
            <thead >
                <tr>
                    <th>No</th>
                    <th>FullName</th>
                    <th>UserNmae</th>
                    <th>E-Mail</th>
                    <th>Phone Number</th>
                    <th>Password</th>
                    <th>Gender</th>
                    <th colspan="2">Action</th>
                    
                </tr>
                <tbody>
                    {% for x  in userdata %}
                    <tr>
                        
                        <td>{{x.id}}</td>
                        <td>{{x.firstName}}</td>
                        <td>{{x.userName}}</td>
                        <td>{{x.email}}</td>
                        <td>{{x.phoneNumber}}</td>
                        <td>{{x.password}}</td>
                        <td>{{x.Checkbox }}</td>
                        <td><a href="{% url 'delete' x.id  %}" class="btn btn-danger">Delete</a></td>
                        <td><a href="{% url 'edit' x.id  %}" class="btn btn-primary">Edit</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </thead>

        </table>
    </div>



{% endblock content %}